@font-face {
    font-family: "TTI";
    src: url("../assets/fonts/tt-interphases/tti-400.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "TTI";
    src: url("../assets/fonts/tt-interphases/tti-700.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "TTI-mono";
    src: url("../assets/fonts/tt-interphases/tti-mono-400.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "TTI-mono";
    src: url("../assets/fonts/tt-interphases/tti-mono-700.ttf") format("truetype");
    font-weight: 700;
}