.home {



    &__outer {
        height: 100%;
        width: 100%;
        // background: grey;
        position: relative;
        overflow: hidden;
    }


    &__inner {
        // background: rgb(207, 118, 118);
        position: absolute;
        display: flex;


        &-link {
            font-size: 3vw;
            font-family: sans-serif;
            text-decoration: none;
            color: $white;
        }
        

        &-arrow {
            margin-left: 5px;
            // background: red;
            font-size: 3vw;
            font-family: sans-serif;
            text-decoration: none;
            color: $white;

        }
    }





}