#h1w {
    margin: 0 66.7vw 0 20px;
}

.people {

    &__wrapper {
        display: flex;
        margin:0 350vw 0 0;

        @include tablet {
            margin:0 350vw 0 0;

        }
        @include monitor {
            margin:0 250vw 0 0;

        }
    }



    &__h1 {
        color: $white;
        font-size: 80px;
        width: max-content;
        background: url("../../assets/backgrounds/scribble.svg");
        background-size: cover;
        text-transform: uppercase;

        &-m {
            left: 20px;
            position: relative;
            top: 20px;
        }

        
    }
    
    &__div {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        margin-bottom: 80px;
        padding: 40px 50px;

        @include tablet {
            flex-flow: row nowrap;
            min-width: 99%;
            margin-bottom: 0;

        }

        @include monitor {
            // transform: rotate(90deg);
            // margin-bottom: 30vw;
            margin-bottom: 0;
            height: 100%;

        }

        @include twok {
            margin-right: 10vw;
        }
    }

    &__img {
        width: 100%;
        aspect-ratio: 1 !important;

        @include tablet {
            width: 40%;
            aspect-ratio: 1 !important;
            margin-right: 30px;
        }
        
    }

    &__title {
        margin: 8px 0;
        text-transform: uppercase;
        font-family: sans-serif;
        
        font-size: 10px;
        color: #FFFFFF;
        letter-spacing: 1px;
        text-align: left;
    }

    &__name {
        font-size: 1.5rem;
        margin-bottom: 16px;

        font-family: sans-serif;
        font-size: 36px;
        color: #FFFFFF;
        text-align: left;
    }

    &__bio {
        font-family: sans-serif;
        font-size: 12px;
        color: #FFFFFF;
        letter-spacing: 0.25px;
        line-height: 18px;
        height: 50%;
        overflow: scroll;
    }

    &__textbox {

        @include tablet {
            padding-top: 40px;
        }
    }

}


.people__m {

    &__hide{
        @include tablet {display: none;}
    }
    
    &__wrapper {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        margin-bottom: 80px;
        padding: 40px 20px;

        @include tablet {
            flex-flow: row nowrap;
            min-width: 99%;
            margin-bottom: 0;
        }
    }

    &__img {
        width: 100%;
        aspect-ratio: 1 !important;

        @include tablet {
            width: 40%;
            aspect-ratio: 1 !important;
            margin-right: 30px;
        }
        
    }

    &__title {
        margin: 8px 0;
        text-transform: uppercase;
        font-family: sans-serif;
        
        font-size: 10px;
        color: #FFFFFF;
        letter-spacing: 1px;
        text-align: left;
    }

    &__name {
        font-size: 1.5rem;
        margin-bottom: 16px;

        font-family: sans-serif;
        font-size: 36px;
        color: #FFFFFF;
        text-align: left;
    }

    &__bio {
        font-family: sans-serif;
        font-size: 12px;
        color: #FFFFFF;
        letter-spacing: 0.25px;
        line-height: 18px;
    }

    &__textbox {

        @include tablet {
            padding-top: 40px;
        }
    }

}