@font-face {
  font-family: "TTI";
  src: url("../assets/fonts/tt-interphases/tti-400.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "TTI";
  src: url("../assets/fonts/tt-interphases/tti-600.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "TTI";
  src: url("../assets/fonts/tt-interphases/tti-700.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "TTI-mono";
  src: url("../assets/fonts/tt-interphases/tti-mono-400.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "TTI-mono";
  src: url("../assets/fonts/tt-interphases/tti-mono-700.ttf") format("truetype");
  font-weight: 700;
}
@media only screen and (min-width: 750px) {
  .horizontal-scroll {
    display: flex;
    align-items: center;
  }
}

*, *::after, *::before {
  box-sizing: border-box;
  font-family: "TTI", sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

.hide {
  display: none !important;
  opacity: 0 !important;
}

.static__grid-outer {
  background: url("../../assets/backgrounds/perspective-grid-1.svg") center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
  border: 1px solid #fff;
  overflow: hidden;
}
@media only screen and (min-width: 1000px) {
  .static__grid-outer {
    background-size: cover;
  }
}
.static__grid-svg {
  position: absolute;
  height: 100%;
  width: 100%;
}
.static__grid-inner {
  max-width: 100%;
  aspect-ratio: 1.5046296444;
  height: 72.727272%;
  overflow: auto;
}
@media only screen and (min-width: 750px) {
  .static__grid-inner {
    height: 72.727272%;
  }
}
.grid-wrapper {
  height: calc(100vh - 120px);
  width: 100vw;
  padding: 20px;
  background: #12181f;
}
@media only screen and (min-width: 750px) {
  .grid-wrapper {
    width: calc(100vw - 120px);
    height: 100vh;
    padding: 20px 20px 0 0;
  }
}

.page-wrapper {
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}
@media only screen and (min-width: 750px) {
  .page-wrapper {
    flex-flow: row nowrap;
  }
}

.header {
  width: 100vw;
  height: 120px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 20px 20px;
  align-items: center;
  background: #12181f;
  position: relative;
  z-index: 999;
}
@media only screen and (min-width: 750px) {
  .header {
    width: 120px;
    height: 100vh;
    flex-flow: column nowrap;
  }
}
.header__logo {
  max-width: 60px;
  color: red;
}
.header__button {
  background: none;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 38px;
  cursor: pointer;
  transition: transform 0.25s ease-in-out, color 0.25s ease-in-out;
  position: absolute;
  right: 20px;
}
.header__button:hover {
  color: silver;
}
@media only screen and (min-width: 750px) {
  .header__button {
    position: relative;
    right: auto;
  }
}

#fixed {
  position: fixed;
}

.rotate {
  transform: rotate(45deg);
}

#instagram-logo {
  display: none;
}
@media only screen and (min-width: 750px) {
  #instagram-logo {
    display: initial;
  }
}

.nav {
  height: 100%;
  width: 100%;
  position: absolute;
  background: #12181f;
  overflow: auto;
  display: none;
  z-index: 999;
}
.nav__box {
  border: 1px solid #ffffff;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.nav__link {
  font-family: "TTI", sans-serif;
  font-size: 10vw;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: left;
  text-decoration: none;
  height: 100%;
  width: 100%;
  padding-left: 40px;
}
@media only screen and (min-width: 750px) {
  .nav__link {
    font-size: 10vw;
  }
}

.splash__wrapper {
  width: 100vw;
  height: 100vh;
  background: url("../../assets/backgrounds//splash-flat-01.png") no-repeat center center, url("../../assets/backgrounds/splash-flat-bg-01.png") repeat-x center center;
  position: relative;
  background-size: contain;
}
.splash__div {
  background: #12181f;
  width: 300px;
  height: 80px;
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  bottom: 20%;
}
@media only screen and (min-width: 750px) {
  .splash__div {
    flex-flow: row nowrap;
    bottom: 10%;
    width: 750px;
  }
}
.splash__name-div {
  width: 50%;
  height: 100%;
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #ffffff solid;
  padding: 20px;
}
@media only screen and (min-width: 750px) {
  .splash__name-div {
    min-width: 25%;
  }
}
.splash__name-heading {
  color: #ffffff;
  font-size: 1.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "TTI", sans-serif;
  font-weight: 700;
}
@media only screen and (min-width: 750px) {
  .splash__name-heading {
    font-size: 2rem;
  }
}
.splash__graphics-div {
  width: 100%;
  height: 100%;
  order: 3;
  padding: 20px;
  border: 1px #ffffff solid;
}
@media only screen and (min-width: 750px) {
  .splash__graphics-div {
    order: 2;
  }
}
.splash__graphics-svg {
  height: 100%;
  width: 100% !important;
}
.splash__enter-div {
  width: 50%;
  height: 100%;
  order: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #ffffff solid;
}
@media only screen and (min-width: 750px) {
  .splash__enter-div {
    order: 3;
    min-width: 25%;
  }
}
.splash__enter-link {
  color: #ffffff;
  font-size: 1.5rem;
  text-decoration: none;
  font-family: "TTI", sans-serif;
  font-weight: 700;
}
@media only screen and (min-width: 750px) {
  .splash__enter-link {
    font-size: 2rem;
  }
}

.home__outer {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.home__inner {
  position: absolute;
  display: flex;
  z-index: 2;
  background: none;
  background-repeat: no-repeat;
  background-size: 5% 5%;
  transition: opacity 0.333s ease-in-out;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.home__inner-scribble {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home__inner-link {
  font-size: 8vw;
  font-family: "TTI", sans-serif;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}
@media only screen and (min-width: 750px) {
  .home__inner-link {
    font-size: 6vw;
  }
}
@media only screen and (min-width: 1000px) {
  .home__inner-link {
    font-size: 4vw;
  }
}
.home__inner-arrow {
  margin-left: 5px;
  font-size: 8vw;
  font-family: "TTI", sans-serif;
  text-decoration: none;
  color: #ffffff;
}
@media only screen and (min-width: 750px) {
  .home__inner-arrow {
    font-size: 6vw;
  }
}
@media only screen and (min-width: 1000px) {
  .home__inner-arrow {
    font-size: 4vw;
  }
}
.home__inner-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  display: none;
  transition: visibility 0.333s ease-in-out;
}

.manifesto__head {
  color: #ffffff;
  font-family: "TTI", sans-serif;
  font-weight: 700;
  font-size: 10vw;
  margin: 250px 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: url("../../assets/backgrounds/scribble.svg");
  background-size: cover;
  text-transform: uppercase;
}
@media only screen and (min-width: 750px) {
  .manifesto__head {
    font-size: 80px;
  }
}
.manifesto__bar-top {
  position: fixed;
  width: 100vw;
  height: 20px;
  background: #12181f;
  top: 120px;
  left: 0;
  z-index: 9999;
}
@media only screen and (min-width: 750px) {
  .manifesto__bar-top {
    display: none;
  }
}
.manifesto__bar-bottom {
  position: fixed;
  width: 100vw;
  height: 20px;
  background: #12181f;
  bottom: 0;
  left: 0;
  z-index: 9999;
}
@media only screen and (min-width: 750px) {
  .manifesto__bar-bottom {
    display: none;
  }
}
.manifesto__bar-left {
  position: fixed;
  width: 20px;
  height: 100vh;
  background: #12181f;
  bottom: 0;
  left: 0;
  z-index: 9999;
}
@media only screen and (min-width: 750px) {
  .manifesto__bar-left {
    display: none;
  }
}
.manifesto__bar-right {
  position: fixed;
  width: 20px;
  height: 100vh;
  background: #12181f;
  bottom: 0;
  right: 0;
  z-index: 9999;
}
@media only screen and (min-width: 750px) {
  .manifesto__bar-right {
    display: none;
  }
}
.manifesto__svg {
  width: 100%;
  margin: 100px 0;
  overflow-x: visible;
  position: relative;
}
.manifesto__text-white {
  color: #ffffff;
  font-size: 8.5vw;
  margin: 100px 0;
  font-family: "TTI", sans-serif;
}
@media only screen and (min-width: 750px) {
  .manifesto__text-white {
    font-size: 4.5vw;
  }
}
.manifesto__text-orange {
  color: #DB643B;
  font-size: 4vw;
  margin: 100px 0 20vh 0;
  font-family: "TTI", sans-serif;
}
@media only screen and (min-width: 750px) {
  .manifesto__text-orange {
    margin: 100px 0 40vh 0;
    font-size: 2.4vw;
  }
}

#h1w {
  margin: 0 50vw 0 20px;
}

.people__wrapper {
  display: flex;
}
.people__h1 {
  color: #ffffff;
  font-size: 80px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: url("../../assets/backgrounds/scribble.svg");
  background-size: cover;
  text-transform: uppercase;
}
.people__h1-m {
  left: 20px;
  position: relative;
  top: 20px;
  margin-bottom: 160px;
}
.people__div {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 80px;
  padding: 40px 50px;
}
@media only screen and (min-width: 750px) {
  .people__div {
    flex-flow: row nowrap;
    margin-bottom: 0;
    margin-right: 25vw;
  }
  .people__div-last {
    margin-right: 0;
  }
}
@media only screen and (min-width: 1000px) {
  .people__div {
    margin-bottom: 0;
    height: 100%;
  }
  .people__div-last {
    margin-right: 10vw;
  }
}
@media only screen and (min-width: 1440px) {
  .people__div {
    margin-right: 10vw;
  }
}
.people__img {
  width: 100%;
  aspect-ratio: 1 !important;
}
@media only screen and (min-width: 750px) {
  .people__img {
    width: 360px;
    aspect-ratio: 1 !important;
    margin-right: 30px;
  }
}
.people__title {
  margin: 8px 0;
  text-transform: uppercase;
  font-family: "TTI", sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #FFFFFF;
  letter-spacing: 1px;
  text-align: left;
  margin-top: 20%;
}
.people__name {
  font-size: 1.5rem;
  margin-bottom: 16px;
  font-family: "TTI", sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: #FFFFFF;
  text-align: left;
}
.people__bio {
  font-family: "TTI", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0.25px;
  line-height: 18px;
  height: 50%;
  overflow: scroll;
  width: 360px;
}
@media only screen and (min-width: 750px) {
  .people__textbox {
    padding-top: 40px;
  }
}

@media only screen and (min-width: 750px) {
  .people__m__hide {
    display: none;
  }
}
.people__m__wrapper {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 80px;
  padding: 40px 20px;
  align-items: center;
}
@media only screen and (min-width: 750px) {
  .people__m__wrapper {
    flex-flow: row nowrap;
    min-width: 99%;
    margin-bottom: 0;
  }
}
.people__m__img {
  width: 360px;
  aspect-ratio: 1 !important;
}
@media only screen and (min-width: 750px) {
  .people__m__img {
    width: 40%;
    aspect-ratio: 1 !important;
    margin-right: 30px;
  }
}
.people__m__title {
  margin: 8px 0;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 10px;
  color: #FFFFFF;
  letter-spacing: 1px;
  text-align: left;
}
.people__m__name {
  font-size: 1.5rem;
  margin-bottom: 16px;
  font-family: sans-serif;
  font-size: 36px;
  color: #FFFFFF;
  text-align: left;
}
.people__m__bio {
  font-family: "TTI", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0.25px;
  line-height: 18px;
  width: 360px;
}
@media only screen and (min-width: 750px) {
  .people__m__textbox {
    padding-top: 40px;
  }
}

.happenings__head {
  color: #ffffff;
  font-family: "TTI", sans-serif;
  font-weight: 700;
  font-size: 10vw;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: url("../../assets/backgrounds/scribble.svg");
  background-size: cover;
  position: relative;
  top: 20px;
  left: 20px;
  height: 0;
  text-transform: uppercase;
  z-index: 2;
}
@media only screen and (min-width: 750px) {
  .happenings__head {
    font-size: 80px;
    top: 40%;
  }
}
.happenings__wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 20px;
}
.happenings__img {
  width: 100%;
  position: relative;
  z-index: 1;
}
.happenings__figure {
  width: 100%;
  padding: 5px;
}
@media only screen and (min-width: 750px) {
  .happenings__figure-half {
    width: 50%;
  }
}
.happenings__figure-caption {
  font-family: "TTI-mono", monospace;
  color: #ffffff;
  font-size: 18px;
}

.sounds__h1 {
  color: #ffffff;
  font-family: "TTI", sans-serif;
  font-weight: 700;
  font-size: 60px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: url("../../assets/backgrounds/scribble.svg");
  background-size: cover;
  position: absolute;
  top: 40%;
  left: 20px;
  text-transform: uppercase;
}
@media only screen and (min-width: 750px) {
  .sounds__h1 {
    font-size: 80px;
  }
}
.sounds__div {
  position: absolute;
  width: 25%;
  aspect-ratio: 1 !important;
  transition: opacity 0.333s ease-in-out;
}
.sounds__iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.contact__wrapper {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.contact__details-wrapper {
  display: flex;
  flex-flow: column nowrap;
  border-bottom: 1px #ffffff solid;
  padding-bottom: 40px;
}
@media only screen and (min-width: 750px) {
  .contact__details-wrapper {
    flex-flow: row nowrap;
  }
}
.contact__details-header {
  color: #ffffff;
  width: 100%;
  margin-bottom: 30px;
  font-size: 40px;
  text-transform: uppercase;
  font-family: "TTI", sans-serif;
  font-weight: 700;
}
@media only screen and (min-width: 750px) {
  .contact__details-header {
    width: 50%;
  }
}
@media only screen and (min-width: 1440px) {
  .contact__details-header {
    font-size: 60px;
  }
}
.contact__details-div {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media only screen and (min-width: 750px) {
  .contact__details-div {
    width: 50%;
  }
}
.contact__details-text {
  font-family: "TTI-mono", monospace;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  line-height: 46px;
}
.contact__sit-wrapper {
  display: flex;
  flex-flow: column nowrap;
  padding-top: 40px;
}
@media only screen and (min-width: 750px) {
  .contact__sit-wrapper {
    flex-flow: row nowrap;
  }
}
.contact__sit-header {
  color: #ffffff;
  width: 100%;
  margin-bottom: 30px;
  font-size: 40px;
  text-transform: uppercase;
  font-family: "TTI", sans-serif;
  font-weight: 700;
}
@media only screen and (min-width: 750px) {
  .contact__sit-header {
    width: 50%;
  }
}
@media only screen and (min-width: 1440px) {
  .contact__sit-header {
    font-size: 60px;
  }
}
.contact__sit-div {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media only screen and (min-width: 750px) {
  .contact__sit-div {
    width: 50%;
  }
}
.contact__sit-text {
  font-family: monospace;
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
  line-height: 46px;
}
.contact__email-wrapper {
  display: flex;
  width: 100%;
  height: 50px;
  border: 1px #ffffff solid;
  background: #12181f;
  margin-bottom: 40px;
}
@media only screen and (min-width: 750px) {
  .contact__email-wrapper {
    width: 150%;
  }
}
.contact__email-div {
  width: 90%;
  height: 100%;
  outline: none;
  border: none;
  background: none;
}
.contact__email-input {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  outline: none;
  border: none;
  color: white;
  font-family: "TTI-mono";
  background: none;
}
.contact__email-input::-moz-placeholder {
  color: #ffffff;
  font-family: "TTI-mono";
  background: none;
}
.contact__email-input:-ms-input-placeholder {
  color: #ffffff;
  font-family: "TTI-mono";
  background: none;
}
.contact__email-input::placeholder {
  color: #ffffff;
  font-family: "TTI-mono";
  background: none;
}
.contact__email-clear {
  width: 10%;
  height: 100%;
  outline: none;
  border: none;
  background: none;
}
.contact__email-button {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #ffffff;
  background: none;
  font-size: 2rem;
  font-family: "TTI", sans-serif;
}

.div__bottom {
  width: 30%;
  height: 30%;
  background: yellow;
  overflow: scroll;
}
.div__center {
  width: 30%;
  height: 30%;
  background: red;
  overflow: scroll;
}/*# sourceMappingURL=main.css.map */